name: "Import Data to SQL"

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 0 1 * *'

jobs:
  import-ips-lycee:
    name: "游늯 Import ips_lycee.csv"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./prod/import
    steps:
      - uses: actions/checkout@v3

      - name: 游냀 Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: 游닍 Install ODBC Driver
        run: |
          sudo curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
          curl https://packages.microsoft.com/config/ubuntu/20.04/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list
          sudo apt-get update
          sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18 mssql-tools18
          echo 'export PATH="$PATH:/opt/mssql-tools18/bin"' >> ~/.bashrc
          source ~/.bashrc

      - name: 游닌 Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: 游 Import ips_lycee
        run: python -m bdd_sql.import_ips_lycee_to_sql
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          SQL_ADMIN_USERNAME: ${{ secrets.SQL_ADMIN_USERNAME }}
          SQL_ADMIN_PASSWORD: ${{ secrets.SQL_ADMIN_PASSWORD }}

  import-effectifs-tg:
    name: "游늯 Import effectifs_tg.csv"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./prod/import
    steps:
      - uses: actions/checkout@v3

      - name: 游냀 Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: 游닍 Install ODBC Driver
        run: |
          sudo curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
          curl https://packages.microsoft.com/config/ubuntu/20.04/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list
          sudo apt-get update
          sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18 mssql-tools18
          echo 'export PATH="$PATH:/opt/mssql-tools18/bin"' >> ~/.bashrc
          source ~/.bashrc

      - name: 游닌 Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: 游 Import effectifs_tg
        run: python -m bdd_sql.import_effectifs_tg_to_sql
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          SQL_ADMIN_USERNAME: ${{ secrets.SQL_ADMIN_USERNAME }}
          SQL_ADMIN_PASSWORD: ${{ secrets.SQL_ADMIN_PASSWORD }}

  import-ecoles-effectifs:
    name: "游늯 Import ecoles_effectifs.csv"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./prod/import
    steps:
      - uses: actions/checkout@v3

      - name: 游냀 Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: 游닍 Install ODBC Driver
        run: |
          sudo curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
          curl https://packages.microsoft.com/config/ubuntu/20.04/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list
          sudo apt-get update
          sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18 mssql-tools18
          echo 'export PATH="$PATH:/opt/mssql-tools18/bin"' >> ~/.bashrc
          source ~/.bashrc

      - name: 游닌 Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: 游 Import ecoles_effectifs
        run: python -m bdd_sql.import_ecoles_effectifs_to_sql
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          SQL_ADMIN_USERNAME: ${{ secrets.SQL_ADMIN_USERNAME }}
          SQL_ADMIN_PASSWORD: ${{ secrets.SQL_ADMIN_PASSWORD }}

  import-bac-par-academie:
    name: "游늯 Import bac_par_academie.csv"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./prod/import
    steps:
      - uses: actions/checkout@v3

      - name: 游냀 Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: 游닍 Install ODBC Driver
        run: |
          sudo curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
          curl https://packages.microsoft.com/config/ubuntu/20.04/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list
          sudo apt-get update
          sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18 mssql-tools18
          echo 'export PATH="$PATH:/opt/mssql-tools18/bin"' >> ~/.bashrc
          source ~/.bashrc

      - name: 游닌 Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: 游 Import bac_par_academie
        run: python -m bdd_sql.import_bac_par_academie_to_sql
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          SQL_ADMIN_USERNAME: ${{ secrets.SQL_ADMIN_USERNAME }}
          SQL_ADMIN_PASSWORD: ${{ secrets.SQL_ADMIN_PASSWORD }}

  upload-logs:
    name: 游닇 Upload Logs
    needs: [import-ips-lycee, import-effectifs-tg, import-ecoles-effectifs, import-bac-par-academie]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Upload logs
        uses: actions/upload-artifact@v4
        with:
          name: sql-import-logs
          path: |
            ./prod/import/logs
            ./prod/import/*.log
          retention-days: 7


          
# name: "Import Data to SQL"

# on:
#   workflow_dispatch:  # D칠clenchement manuel
#   # schedule:
#   #   - cron: '0 0 1 * *'  # Le 1er de chaque mois  minuit (00:00)

# jobs:
#   import_to_sql:
#     name: "Import Data to SQL Database"
#     runs-on: ubuntu-latest

#     env:
#       AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
#       AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
#       AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
#       AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
#       SQL_ADMIN_USERNAME: ${{ secrets.SQL_ADMIN_USERNAME }}
#       SQL_ADMIN_PASSWORD: ${{ secrets.SQL_ADMIN_PASSWORD }}

#     defaults:
#       run:
#         working-directory: ./prod/import

#     steps:
#       - name: 游띑 Checkout Repository
#         uses: actions/checkout@v3

#       - name: 游냀 Set up Python
#         uses: actions/setup-python@v4
#         with:
#           python-version: '3.10'

#       - name: 游닍 Install ODBC Driver
#         run: |
#           sudo curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
#           curl https://packages.microsoft.com/config/ubuntu/20.04/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list
#           sudo apt-get update
#           sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18
#           sudo ACCEPT_EULA=Y apt-get install -y mssql-tools18
#           echo 'export PATH="$PATH:/opt/mssql-tools18/bin"' >> ~/.bashrc
#           source ~/.bashrc

#       - name: 游닌 Install Python Dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt

#       - name: 游 Run SQL Import
#         run: python -m bdd_sql.import_to_sql
#         env:
#           AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
#           AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
#           AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
#           SQL_ADMIN_USERNAME: ${{ secrets.SQL_ADMIN_USERNAME }}
#           SQL_ADMIN_PASSWORD: ${{ secrets.SQL_ADMIN_PASSWORD }}

#       - name: 游닇 Upload Logs
#         if: always()
#         uses: actions/upload-artifact@v4
#         with:
#           name: sql-import-logs
#           path: |
#             ./prod/import/logs
#             ./prod/import/*.log
#           retention-days: 7